{{define "content"}}
You requested to change your password. Please confirm this action by visiting the link below. If this wasn't you, visit the cancel link to decline the change.

Confirm: {{trackURL .ConfirmURL "password_change_confirm"}}
Cancel: {{trackURL .CancelURL "password_change_cancel"}}

This link expires in {{.ExpiresIn}}. For security reasons you may only use it once.
{{end}}
